{
  "presets": [
    [
      "env",
    {
      "targets": {
        "browsers": [
          "last 2 versions", "ie >= 11"
        ]
      },
      "modules": false
    }
    ]
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"]
    }
  }
}
